# Build artifacts
**/bin/
**/obj/
**/*.nupkg

# Git
.git/
.github/
.gitignore
.gitattributes

# IDE
.vscode/
.vs/
*.user
*.suo

# Documentation and images
docs/
images/
README.md
CHANGELOG.md
CONTRIBUTING.md
LICENSE

# Tests
test/
**/Tests/
**/*.Tests/

# Other
tools/
.devcontainer/
.editorconfig
renovate.json
global.json
.all-contributorsrc
