# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/reference/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/guides/orchestrate/jobs-steps/#jobs-overview & https://circleci.com/docs/reference/configuration-reference/#jobs
jobs:
  build-and-test:
    # Specify the execution environment. You can specify an image from Docker Hub or use one of our convenience images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/guides/execution-managed/executor-intro/ & https://circleci.com/docs/reference/configuration-reference/#executor-job
    docker:
      # Use .NET-specific image
      # See: https://circleci.com/developer/images/image/cimg/dotnet
      - image: cimg/dotnet:8.0

    # Add steps to the job
    # See: https://circleci.com/docs/guides/orchestrate/jobs-steps/#steps-overview & https://circleci.com/docs/reference/configuration-reference/#steps
    steps:
      # Checkout the code as the first step.
      - checkout
      
      # Install additional .NET SDK versions (9.0 and 10.0)
      - run:
          name: "Install .NET SDK 9.0"
          command: |
            wget https://dot.net/v1/dotnet-install.sh -O dotnet-install.sh
            chmod +x dotnet-install.sh
            ./dotnet-install.sh --channel 9.0 --install-dir $HOME/.dotnet
            echo 'export PATH="$HOME/.dotnet:$PATH"' >> $BASH_ENV
            
      - run:
          name: "Install .NET SDK 10.0"
          command: |
            wget https://dot.net/v1/dotnet-install.sh -O dotnet-install.sh
            chmod +x dotnet-install.sh
            ./dotnet-install.sh --channel 10.0 --install-dir $HOME/.dotnet
            
      - run:
          name: "Verify .NET SDKs"
          command: dotnet --list-sdks
      
      # Prepare the build (remove generated files)
      - run:
          name: "Prepare build"
          no_output_timeout: 30m
          command: |
            rm -rf src/Refitter.SourceGenerator.Tests/AdditionalFiles/Generated
            dotnet msbuild src/Refitter.SourceGenerator.Tests/Refitter.SourceGenerator.Tests.csproj || true
            
      # Build the solution
      - run:
          name: "Build solution"
          command: dotnet build -c Release src/Refitter.sln
          
      # Run tests
      - run:
          name: "Run tests"
          command: dotnet test src/Refitter.sln -c Release

# Orchestrate jobs using workflows
# See: https://circleci.com/docs/guides/orchestrate/workflows/ & https://circleci.com/docs/reference/configuration-reference/#workflows
workflows:
  build-and-test-workflow:
    # Inside the workflow, you define the jobs you want to run.
    jobs:
      - build-and-test